<div class="container p-4  ">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h3 class="d-flex justify-content-center">Listagem de Carros</h3>
          <div class="d-flex justify-content-end pb-3">
            <!-- <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple routerLink="/admin/carros/new">
              Novo</button> -->
            <!-- Trabalhando com modal ao invés de rota -->
            <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple (click)="new()">
              Novo</button>
          </div>

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Ano</th>
                <th></th>
                <!-- <th scope="col">Ações</th> -->
              </tr>
            </thead>

            <tbody>
              @for (carro of lista; track $index) {
              <tr>
                <td>{{carro.id}}</td>
                <td>{{carro.nome}}</td>
                @if (carro.marca) {
                <td>{{carro.marca.nome}}</td>
                }@else {
                <td>---</td>
                }
                <td>{{carro.ano}}</td>
                <!-- Importar o routerLink -->
                <!-- Criar o css para direita sem afetar a linhas e desativa o de baixo -->
                <td class="direita ">
                  <!-- <td class="d-flex justify-content-end"> -->
                  <!-- <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple
                    routerLink="/admin/carros/edit/{{carro.id}}">Editar</button> -->

                  <!-- <div class="d-flex justify-content-center"> -->
                  <!-- modal -->
                  <button type="button" class="btn btn-primary btn-rounded me-2 m-2 " mdbRipple
                    (click)="edit(carro)">Editar</button>

                  <button type="button" class="btn btn-danger btn-rounded me-2 m-2 " mdbRipple
                    (click)="deleteById(carro)">Deletar</button>
                  <!-- </div> -->
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Iniciando a utilização do modal ao inves de router -->
<ng-template #modalCarroDetalhe>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Carros</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">

    <!-- Reutilizando e adcionando o dado na input-->
    <!-- onde e recebe o retorno enviado da carrolist do metodo retornoDetalhe -->
    <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetalhe($event)"></app-carrosdetails>

  </div>

</ng-template>

<!-- Tela de listagem/busca/exibi a tabelas com o campos, informações e btn
 abaixo do menu/nav
 -->
