<div class="container p-4">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h3 class="d-flex justify-content-center">Listagem de Acessórios</h3>
          <div class="d-flex justify-content-end pb-3">
            <!-- <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple routerLink="/admin/carros/new">
              Novo</button> -->
            <!-- Trabalhando com modal ao invés de rota -->
            <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple (click)="new()">
              Novo</button>
          </div>

          <table border="1" class="table table-striped ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <!-- <th scope="col">Ano</th> -->
                <!-- <th scope="col">Acessórios</th> -->
                <th scope="col">Ações</th>
              </tr>
            </thead>

            <tbody>
              <!-- @for (carro of lista; track $index) { -->
              @for (acessorio of listaAcessorio; track $index) {
              <tr>
                <td>{{acessorio.id}}</td>
                <td>{{acessorio.nome}}</td>
                <!-- <td>{{acessorio.ano}}</td> -->

                <!-- Criar o css para direita sem afetar a linhas e desativa o de baixo -->
                <td class="direita"></td>
                <td class="d-flex justify-content-end">
                  <!-- <button type="button" class="btn btn-primary btn-rounded me-3" mdbRipple
                    routerLink="/admin/carros/edit/{{carro.id}}">Editar</button> -->

                  <!-- Esconde btn na modal -->
                  @if (esconderBtn) {
                  <button type="button" class="btn btn-primary btn-rounded me-3 " mdbRipple
                    (click)="select(acessorio)">Selecionar</button>
                  }@else {
                  <button type="button" class="btn btn-primary btn-rounded me-3 " mdbRipple
                    (click)="edit(acessorio)">Editar</button>

                  <button type="button" class="btn btn-danger btn-rounded" mdbRipple
                    (click)="deleteById(acessorio)">Deletar</button>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Usando as class do bootstrap para não criar css personalizado como no video -->

<!-- Iniciando a utilização do modal ao inves de router -->
<!-- <ng-template #modalCarroDetalhe> -->
<ng-template #modalAcessorioDetalhe>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">

    <!-- Reutilizando e adcionando o dado na input-->
    <!-- onde e recebe o retorno enviado da carrolist do metodo retornoDetalhe -->
    <!-- <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetalhe($event)"></app-carrosdetails> -->
    <app-acessoriosdetails [acessorio]="acessorioEdit" (retorno)="retornoDetalhe($event)"></app-acessoriosdetails>

  </div>

</ng-template>
