/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

//Centralizar do cadastro
.centralizar{
    // text-align: center;
}

//Fixando largura fixa pq não tem classe do bootstrap
.card-fixo {
  width:400px;   /* largura fixa */
}

.direita{
    // text-align: right;
}

body{
    background-color: rgb(226, 226, 226);
    //  background-color: #c9c9c9;
}

.small-person{
  font-size: 0.75rem; /* menor em telas pequenas */
}

/* Classe responsiva para fonte menor que small */
.small-responsive {
  font-size: 0.85rem; /* tamanho normal por padrão */

  @media (max-width: 767.98px) {
    font-size: 0.75rem; /* menor em telas pequenas */
  }
}

//Scroll vertical
.table-wrapper {
  max-height: 450px;       /* altura máxima da tabela */
  overflow-y: auto;        /* scroll vertical dentro da tabela */
  display: block;

  @media (max-width: 667px) {
    // max-height: 450px;       /* altura máxima da tabela */
  }
}

// .swal2-container {
//     z-index: 99999;
//   }

//   .modal-body{
//     background-color: #f5f5f5;
// }

// .modal-header{
//     background-color: #dddddd;
// }

// .alinharADireita{
//     text-align: right;
// }

// .alinharAEsquerda{
//     text-align: left;
// }
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

//Retirar esse css depois e usar as classes do Bootstrap
