<div class="container pt-4">
  <div class="row">
    <div class="col-lg-12 text-center small-responsive">
      <div class="card">
        <div class="card-body  row d-flex justify-content-center">
          <h3 class="pb-2">Cadastre o Carro</h3>

          <div class="w-75 d-flex justify-content-evenly">
            <mdb-form-control>
              <input mdbInput type="text" id="usuario" class="form-control small-person" [(ngModel)]="carro.nome" />
              <label mdbLabel class="form-label" for="usuario">Nome</label>
            </mdb-form-control>

            <mdb-form-control class="w-25">
              <input mdbInput type="number" id="usuario" class="form-control small-person" [(ngModel)]="carro.ano" />
              <label mdbLabel class="form-label" for="usuario">Ano</label>
            </mdb-form-control>
          </div>
          <div class=" mt-3">
            <!-- Oculta o btn -->
            @if (carro.marca == null) {
            <button type="button" class="btn btn-primary btn-rounded px-3 py-1 px-sm-4" mdbRipple
              (click)="buscarMarca()">
              Buscar Marca</button>
            }@else {
            <!--Exibe -->
            <span class="text-primary"> Marca: {{carro.marca.nome + " - "}}</span>
            <button type="button" class="btn btn-danger btn-rounded px-3 py-1 px-sm-4" mdbRipple
              (click)="buscarMarca()">
              Trocar Marca</button>
            }
          </div>

          <!-- Acessórios -->
          <div>
            <button type="button" class="btn btn-danger btn-rounded m-3 px-3 py-1 px-sm-4" mdbRipple
              (click)="buscarAcessorio()">
              Buscar Acessório</button>
          </div>

          <!-- Mini tabela de exibição de acessórios dentro da modal novo carro para vincular-->
          <table border="1" class="w-75 table table-striped table-sm align-middle small-person">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <!-- <th scope="col">Ano</th> -->
                <!-- <th scope="col">Acessórios</th> -->
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <!-- @for (carro of lista; track $index) { -->
              @for (acessorio of carro.acessorios; track $index) {
              <tr>
                <td>{{acessorio.id}}</td>
                <td>{{acessorio.nome}}</td>

                <!-- Criar o css para direita sem afetar a linhas e desativa o de baixo -->
                <!-- <td class="direita"> -->
                <td>
                  <button type="button" class="btn btn-danger btn-rounded px-3 py-1 px-sm-4" mdbRipple
                    (click)="desvicularAcessorioCarro(acessorio)">Desvicular</button>
                </td>
              </tr>
              }
            </tbody>
          </table>

          <!-- Proprietario -->
          <div>
            <button type="button" class="btn btn-danger btn-rounded mb-3 px-3 py-1 px-sm-4" mdbRipple
              (click)="buscarProprietario()">
              Buscar Proprietário</button>
          </div>

          <table border="1" class="w-75 table table-striped table-sm align-middle small-person">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <!-- <th scope="col">Idade</th> -->
                <!-- <th scope="col">Cnpj - Cpf</th> -->
                <th></th>
              </tr>
            </thead>

            <tbody>
              <!-- @for (carro of lista; track $index) { -->
              @for (proprietario of carro.proprietarios; track $index) {
              <tr>
                <td>{{proprietario.id}}</td>
                <td>{{proprietario.nome}}</td>
                <!-- <td>{{proprietario.idade}}</td> -->
                <!-- <td>{{proprietario.cnpj}}</td> -->

                <!-- Criar o css para direita sem afetar a linhas e desativa o de baixo -->
                <!-- <td class="direita"> -->
                <td>
                  <button type="button" class="btn btn-danger btn-rounded px-3 py-1 px-sm-4" mdbRipple
                    (click)="desvicularProprietarioCarro(proprietario)">Desvicular</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
          <button type="button" class="btn btn-primary btn-rounded w-50 px-3 py-1 px-sm-4" mdbRipple
            (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Criando um modal para buscar marca dentro da modal de cadastro de carros -->
  <ng-template #modalMarcas>

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Marcas</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

      <!-- Reutilizando e adcionando o dado na input-->
      <!-- onde e recebe o retorno enviado da carrolist do metodo retornoDetalhe -->
      <!-- Escondendo os btn no modo modal -->
      <app-marcaslist [esconderBtn]="true" (retorno)="retornoMarca($event)"></app-marcaslist>

    </div>

  </ng-template>

  <ng-template #modalAcessorios>

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Acessório</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

      <!-- Reutilizando e adcionando o dado na input-->
      <!-- onde e recebe o retorno enviado da carrolist do metodo retornoDetalhe -->
      <!-- Escondendo os btn no modo modal -->
      <app-acessorioslist [esconderBtn]="true" (retorno)="retornoAcessorio($event)"></app-acessorioslist>

    </div>

  </ng-template>

  <ng-template #modalProprietarios>

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Proprietário</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

      <!-- Reutilizando e adcionando o dado na input-->
      <!-- onde e recebe o retorno enviado da carrolist do metodo retornoDetalhe -->
      <!-- Escondendo os btn no modo modal -->
      <app-proprietarioslist [esconderBtn]="true" (retorno)="retornoProprietario($event)"></app-proprietarioslist>

    </div>

  </ng-template>
  <!-- Tela de cadastro e edição dentro da 'MODAL's' -->
